#root {
  margin: 0 auto;
  text-align: center;
  scroll-behavior: smooth;
}

#tsparticles {
  position: fixed;
  z-index: -100;
}

a {
  color: #fff;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #ffffff;
}
li {
  list-style: none;
}

/*   
    HEADER
*/

.header {
  top: 0;
  position: fixed;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
  padding: 0 30px;
  z-index: 96;
}

.header--nav ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 15px;
  background-color: #101522bd;
  padding: 8px 20px;
  border-radius: 50px;
}

.language-selector {
  display: inline-block;
}

.custom-dropdown {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 8px 20px;
  font-size: 14px;
  font-family: inherit;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #333;
  color: #fff;
}

.custom-dropdown-toggle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.arrow-icon {
  margin-left: 5px;
}

.custom-dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.custom-dropdown.open .custom-dropdown-menu {
  display: block;
}

.custom-dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.custom-dropdown-item:hover {
  background-color: #555;
}

.Hamburger {
  display: none;
}

.menu {
  display: none;
}

@media screen and (max-width: 700px) {
  .header {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
  }

  .header--nav {
    display: none;
  }

  .Hamburger {
    display: block;
    color: #fff;
    font-size: 25px;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 99;
  }

  .menu {
    display: block;
    position: fixed;
    top: 0;
    width: 70%;
    height: 100vh;
    right: 0;
    color: #fff;
    font-size: 20px;
    background-color: rgba(29, 24, 63, 0.874);
    z-index: 98;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
  }
}

/*
  HOME SECTION
*/

#home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
  padding: 70px 0;
}

.home-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.home--image {
  flex: 1;
  max-width: 300px;
  height: 300px;
  width: 300px;
  margin-right: 100px;
  border-radius: 43% 57% 26% 74% / 56% 27% 73% 44%;
}

.home--image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 43% 57% 26% 74% / 56% 27% 73% 44%;

  --c: #a7dbd8;
  --s: 12px;

  outline: var(--s) solid var(--c);
  --_c: conic-gradient(var(--c) 0 0);
}

.home--content {
  flex: 1;
  max-width: 70%;
  text-align: center;
}

.home--content h4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.home--content h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: #a7dbd8;
}

.home--content h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.scroll-wrapper {
  display: flex;
  align-items: center;
}

.scroll-box {
  width: 38px;
  height: 70px;
  background: transparent;
  border: 5px solid #a7dbd8;
  border-radius: 60px;
  position: relative;
}
.scroll-circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #a7dbd8;
  inset: 0;
  margin: auto;
  animation: circle 1.5s ease-in-out infinite alternate;
}

.scroll-text {
  margin-left: 16px;
}

@keyframes circle {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(15px);
  }
}

.home--button {
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.home--button:hover {
  background-color: #333;
  color: #fff;
}

@media screen and (max-width: 700px) {
  #home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
  }

  .home-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  .home--image {
    flex: 1;
    max-width: 160px;
    height: 160px;
    width: 160px;
    margin: 0;
  }

  .home--image img {
    --c: #a7dbd8;
    --s: 9px;

    outline: var(--s) solid var(--c);
    --_c: conic-gradient(var(--c) 0 0);
  }

  .home--content {
    max-width: 100%;
  }

  .home--content h4 {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .home--content h1 {
    font-size: 1.7rem;
    margin-bottom: 20px;
    color: #a7dbd8;
  }

  .home--content h2 {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
}

/*
  ABOUT SECTION
*/

#about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 50px;
  min-height: calc(100vh - 80px);
}

.about--content {
  max-width: 800px;
  width: 60vw;
  padding: 0 20px;
  text-align: left;
}

.about--content h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #a7dbd8;
  --b: 8px; /* border thickness  */
  --g: repeating-linear-gradient(
    45deg,
    #2f0c97 0 10px,
    #0a7c8d 0 20px,
    #ffffff 0 30px
  );
  border-image: var(--g) fill 0 / calc(100% - var(--b)) 0 0/0 36vw 0 0 repeat;
  padding-block: 10px;
  margin-bottom: 20px;
  max-width: 200px;
}

.about--content h2 {
  color: #a7dbd8;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about--content p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about--image {
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.about--image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
  --c: #2f0c97;
  --s: 9px;

  outline: var(--s) solid var(--c);
  --_c: conic-gradient(var(--c) 0 0);
}

.quote--icon {
  color: #a7dbd8;
  font-size: 50px;
  margin: 0 20px;
}

b {
  font-weight: 700;
  color: #a7dbd8;
  font-size: 1.3rem;
}

@media screen and (max-width: 850px) {
  #about-section {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    width: 100%;
  }

  .about--content {
    max-width: 800px;
    text-align: left;
    width: 100%;
  }

  .about--content h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #a7dbd8;
    --b: 8px; /* border thickness  */
    --g: repeating-linear-gradient(
      45deg,
      #2f0c97 0 10px,
      #0a7c8d 0 20px,
      #ffffff 0 30px
    );
    border-image: var(--g) fill 0 / calc(100% - var(--b)) 0 0/0 36vw 0 0 repeat;
    padding-block: 10px;
    margin-bottom: 20px;
    max-width: 200px;
  }

  .about--content h2 {
    color: #a7dbd8;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .about--content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .about--image {
    display: none;
  }

  .quote--icon {
    color: #a7dbd8;
    font-size: 35px;
    margin: 0 20px;
  }

  b {
    font-weight: 700;
    color: #a7dbd8;
    font-size: 1rem;
  }
}

/*
  EXPERTISE SECTION
*/

#expertise-section {
  display: block;
  min-height: calc(100vh - 70px);
  padding: 50px 90px;
  width: 100%;
  margin-bottom: 80px;
}

.expertise-title {
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 800;
  color: #a7dbd8;
  --b: 8px;
  --g: repeating-linear-gradient(
    45deg,
    #2f0c97 0 10px,
    #0a7c8d 0 20px,
    #ffffff 0 30px
  );
  border-image: var(--g) fill 0 / calc(100% - var(--b)) 0 0/0 25vw 0 25vw repeat;
  padding-block: 20px;
  margin-bottom: 30px;
  max-width: 600px;
}

.expertise-categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.expertise-category {
  border-radius: 10px;
  padding: 20px;
  --c: #a7dbd8;
  --s: 9px;

  outline: var(--s) solid var(--c);
  --_c: conic-gradient(var(--c) 0 0);
}

.expertise-category h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #a7dbd8;
  margin-bottom: 10px;
}

.expertise-category ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0;
}

.expertise-category ul li {
  margin-bottom: 5px;
  height: 60px;
  width: 110px;
}

.expertise-category img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.expertise-category:nth-child(1) {
  grid-column-end: span 3;
}

.expertise-category:nth-child(2) {
  grid-row-end: span 2;
}

.expertise-category:nth-child(3) {
  grid-row-end: span 2;
}

.expertise-category:nth-child(4) {
  grid-column-end: span 2;
}

.expertise-category:nth-child(6) {
  grid-column-end: span 2;
}

@media screen and (max-width: 850px) {
  #expertise-section {
    display: block;
    min-height: calc(100vh - 70px);
    padding: 40px 40px;
    width: 100%;
    margin-bottom: 80px;
  }

  .expertise-title {
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 800;
    color: #a7dbd8;
    --b: 8px; /* border thickness  */
    --g: repeating-linear-gradient(
      45deg,
      #2f0c97 0 10px,
      #0a7c8d 0 20px,
      #ffffff 0 30px
    );
    border-image: var(--g) fill 0 / calc(100% - var(--b)) 0 0/0 15vw 0 15vw
      repeat;
    padding-block: 20px;
    margin-bottom: 30px;
    max-width: 200px;
  }

  .expertise-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .expertise-category {
    border-radius: 10px;
    padding: 20px;
    --c: #a7dbd8;
    --s: 6px;

    outline: var(--s) solid var(--c);
    --_c: conic-gradient(var(--c) 0 0);
    width: 95%;
  }

  .expertise-category h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #a7dbd8;
    margin-bottom: 10px;
  }

  .expertise-category ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0;
  }

  .expertise-category ul li {
    margin-bottom: 5px;
    height: 50px;
    width: 90px;
  }
}

/*
  CAREER SECTION
*/

#career-section,
#education {
  display: block;
  padding: 50px 10px;
  width: 100%;
  margin-bottom: 80px;
}

.career-subsection {
  min-height: calc(100vh - 70px);
  width: 100%;
}

.career-title {
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 800;
  color: #a7dbd8;
  --b: 8px;
  --g: repeating-linear-gradient(
    45deg,
    #2f0c97 0 10px,
    #0a7c8d 0 20px,
    #ffffff 0 30px
  );
  border-image: var(--g) fill 0 / calc(100% - var(--b)) 0 0/0 25vw 0 25vw repeat;
  padding-block: 20px;
  margin-bottom: 30px;
  max-width: 600px;
}

.career-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.timeline {
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 80vw;
}

.time-line-list-element {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.time-line-list-element:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #a7dbd8;
}

.timeline-content h2 {
  font-weight: 400;
  font-size: 13px;
}

.time-line-list-element:nth-child(odd) ul {
  padding-left: 10%;
  text-align: left;
}

.time-line-list-element:nth-child(even) ul {
  padding-left: 20px;
  padding-right: 0;
}

.timeline-content li {
  list-style: disc;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
}

.timeline-content p {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #a7dbd8;
}

.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.timeline-list {
  width: 100%;
}

.timeline-content b {
  color: #a7dbd8;
  font-weight: 600;
  font-size: 18px;
}

@media only screen and (max-width: 1080px) {
  .career-title {
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 800;
    color: #a7dbd8;
    --b: 8px; /* border thickness  */
    --g: repeating-linear-gradient(
      45deg,
      #2f0c97 0 10px,
      #0a7c8d 0 20px,
      #ffffff 0 30px
    );
    border-image: var(--g) fill 0 / calc(100% - var(--b)) 0 0/0 15vw 0 15vw
      repeat;
    padding-block: 20px;
    margin-bottom: 30px;
    max-width: 200px;
  }
}

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .time-line-list-element {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .time-line-list-element:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
    text-align: right;
  }

  .time-line-list-element:nth-child(odd) .date {
    right: 20px;
  }

  .time-line-list-element:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
    text-align: left;
  }
  .time-line-list-element::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .time-line-list-element:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .time-line-list-element:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .time-line-list-element:hover::before {
    background-color: aqua;
  }
}

/*
  PROJECTS SECTION 
*/

#project-section {
  display: block;
  min-height: calc(100vh - 70px);
  padding: 50px 90px;
  width: 100%;
  margin-bottom: 80px;
}

.project-title {
  margin: 0 auto;
  font-size: 3rem;
  font-weight: 800;
  color: #a7dbd8;
  --b: 8px;
  --g: repeating-linear-gradient(
    45deg,
    #2f0c97 0 10px,
    #0a7c8d 0 20px,
    #ffffff 0 30px
  );
  border-image: var(--g) fill 0 / calc(100% - var(--b)) 0 0/0 25vw 0 25vw repeat;
  padding-block: 20px;
  margin-bottom: 30px;
  max-width: 600px;
}

.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.carousel {
  overflow: hidden;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.carousel-item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 60vh;
  text-align: left;
}

.carousel-item-text p {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 20px;

  white-space: normal;
  color: #fff;
}

.carousel-item-text h2 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  white-space: normal;
  color: #a7dbd8;
}

.carousel-item-links {
  font-weight: 300;
  font-size: 1rem;
  font-weight: 500;
  white-space: normal;
  color: #a7dbd8;
}

.carousel-img {
  width: 100%;
  height: 80%;
  padding: 0 10px;
}

.carousel-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  color: #a7dbd8;
  margin-top: 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: #26343f;
}

.indicator-symbol-active {
  color: #ffffff;
}

.material-symbols-outlined {
  font-size: 40px;
}

@media only screen and (max-width: 1080px) {
  #project-section {
    display: block;
    min-height: calc(100vh - 70px);
    padding: 0;
    width: 100%;
    margin-bottom: 80px;
  }

  .project-title {
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 800;
    color: #a7dbd8;
    --b: 8px;
    --g: repeating-linear-gradient(
      45deg,
      #2f0c97 0 10px,
      #0a7c8d 0 20px,
      #ffffff 0 30px
    );
    border-image: var(--g) fill 0 / calc(100% - var(--b)) 0 0/0 15vw 0 15vw
      repeat;
    padding-block: 20px;
    margin-bottom: 30px;
    max-width: 200px;
  }

  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .carousel {
    overflow: hidden;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .inner {
    height: 70%;
    white-space: nowrap;
    transition: transform 0.3s;
  }

  .carousel-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    text-align: left;
  }

  .carousel-item-text p {
    font-weight: 300;
    font-size: 0.9rem;
    margin-bottom: 20px;

    white-space: normal;
    color: #fff;
  }

  .carousel-item-text h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
    white-space: normal;
    color: #a7dbd8;
  }

  .carousel-item-links {
    font-weight: 300;
    font-size: 0.8rem;
    font-weight: 500;
    white-space: normal;
    color: #a7dbd8;
  }

  .carousel-img {
    width: 100%;
    height: 80%;
    height: 300px;
    padding: 0 10px;
  }

  .button-arrow {
    background: none;
    border: none;
    cursor: pointer;
    color: #a7dbd8;
  }
}

/*
  CONTACT FOOTER
*/

#contact-section {
  position: fixed;
  bottom: 20px;
  right: 80px;
  z-index: 99;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.contact-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 30px;
  color: #a7dbd8;
  padding: 10px 10px;
  transition: all 0.3s ease;
}

.contact-links a:hover,
.contact-links a:focus {
  background-color: #ddd;
  color: #111;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1080px) {
  #contact-section {
    position: inherit;
    width: 100%;
  }

  .contact-links {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    gap: 30px;
  }
}
